==Welcome to #{APP_NAME}!

==Thank you for creating an account at #{APP_NAME}.

==Your login is #{@user.email}. You can log in to the site at #{login_url}.

==If you forget your password, you can visit #{new_password_reset_url} to reset it.
