-title 'Readings'
%table
  %thead
    %tr
      %td Device
      %td Admin Name 1
      %td Address
      %td Altitude
      %td Event Type
      %td Direction
      %td Ignition
      %td Latitude
      %td Longitude
      %td Place Name
      %td Speed
      %td Street
      %td Street Number
      %td Updated
  %tbody
    - @readings.each do |reading|
      %tr
        %td= link_to reading.device_name, devices_path
        %td= reading.admin_name1
        %td= reading.address
        %td= reading.altitude
        %td= reading.event_type
        %td= reading.direction
        %td= reading.ignition
        %td= reading.latitude
        %td= reading.longitude
        %td= reading.place_name
        %td= reading.speed
        %td= reading.street
        %td= reading.street_number
        %td= reading.updated_at
        
= will_paginate @readings