- title "Commands"
%table
  %thead
    %tr
      %td Device
      %td Command
      %td Response
      %td Status
      %td Ended
      %td Reference
      %td Updated
  %tbody
    - @commands.each do |command|
      %tr
        %td= link_to command.device_name, devices_path
        %td= command.command
        %td= command.response
        %td= command.status
        %td= command.ended_at
        %td= command.reference_id
        %td= command.updated_at

= will_paginate @commands

= link_to 'New Command', new_command_path
