-title "New Command"
-form_for Command.new do |f|
  = f.label :device_id, "Device"
  = f.select :device_id, Device.select_options(:key => :id)
  %br
  = f.label :command, "Command"
  = f.select :command, AvailableCommand.select_options(:key => :command)
  = link_to 'New', new_available_command_path
  %br
  = f.submit "Send"